{% extends 'base.html.twig' %}

{% block body %}
	<div class="login d-flex justify-content-center align-items-center" style="height:800px">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 col-sm-6">
					<form method="post">
						{% if error %}
							<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}

						{% if app.user %}
							<div class="mb-3 text-center">
								You are logged in as
								{{ app.user.userIdentifier }},
								<a href="{{ path('app_logout') }}">Logout</a>
							</div>
						{% endif %}
						<h1 class="text-center fw-bold text-uppercase mb-2">Login</h1>
						<p class="text-muted text-center mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
						<div class="mb-4">
							<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
						</div>
						<div class="mb-4">
							<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
						</div>
						<input
						type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						{# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
												See https://symfony.com/doc/current/security/remember_me.html		
												<div class="checkbox mb-3">
												<label><input type="checkbox" name="_remember_me"> Remember me</label>
												</div> #}
						<p class="text-center mt-1 mb-3">Are you forget your password ?
							<a href={{path('forgotten_password')}}>Reset now</a>
						</p>
						<div class="text-center">
							<button class="btn btn-brand px-4 " type="submit">Sign in</button>
						</div>
						<p class="text-center mt-4">Dont have an account ?<a href="{{path('app_register')}}">
								Register Now</a>
						</p>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

