{% extends 'base.html.twig' %}

{% block body %}
	<div class="register d-flex justify-content-center align-items-center" style="height:800px">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 col-sm-12">
					<h1 class="text-center fw-bold text-uppercase mb-2">Register</h1>
					<p class="text-muted text-center mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
					{{ form_start(registrationForm) }}
					{{ form_row(registrationForm.email,{label:false}) }}
					{{ form_row(registrationForm.password,{label:false}) }}
					{{ form_row(registrationForm.firstname,{label:false}) }}
					{{ form_row(registrationForm.lastname,{label:false}) }}
					{{ form_row(registrationForm.adress,{label:false}) }}
					{{ form_row(registrationForm.city,{label:false}) }}
					{{ form_row(registrationForm.zipcode,{label:false}) }}
					{{ form_row(registrationForm.RGPDConsent) }}
					<div class="text-center mb-1">
						<button type="submit" class="btn btn-brand px-4">Register</button>
					</div>
					{{ form_rest(registrationForm) }}
					{{ form_end(registrationForm) }}
					<p class="text-center mt-4">Do you have an account ?<a href="{{path('app_login')}}">
							Sign In Now</a>
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

